<div class="lg:flex">
    <div class="lg:w-1/2">
        <div class="py-12 lg:bg-white flex justify-center lg:justify-start lg:px-12">
            <div class="cursor-pointer flex items-center">
                <div>
                    <img class="lg:w-20" src="/assets/logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
            <h2 class="text-center text-4xl text-orange-900 font-display font-semibold lg:text-left xl:text-5xl
            xl:text-bold">Sign In</h2>
            <div class="mt-12">
                <form [formGroup]="signInForm">
                    <div>
                        <div class="text-sm font-bold text-gray-700 tracking-wide">Email Address</div>
                        <input formControlName="email" class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-orange-500" type="" placeholder="mike@gmail.com">

                        <small 
                            *ngIf="signInForm.get('email')?.errors?.['required'] && signInForm.get('email')?.touched" 
                            class="text-red-500">
                                El campo es requerido
                        </small>

                        <small 
                            *ngIf="signInForm.get('email')?.errors?.['email'] && signInForm.get('email')?.touched" 
                            class="text-red-500">
                                Debe colocar un correo válido
                        </small>

                    </div>
                    <div class="mt-8">
                        <div class="flex justify-between items-center">
                            <div class="text-sm font-bold text-gray-700 tracking-wide">
                                Password
                            </div>
                            
                            <div>
                                <a class="text-xs font-display font-semibold text-orange-600 hover:text-orange-800
                                cursor-pointer">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>
                        <input formControlName="password" class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-orange-500" type="" placeholder="Enter your password">
                      
                        <small 
                            *ngIf="signInForm.get('password')?.errors?.['required'] && signInForm.get('password')?.touched" 
                            class="text-red-500">
                                El campo es requerido
                        </small>

                        <small *ngIf="errorExternal" class="text-red-500">
                            {{ errorExternal }}
                        </small>
                    </div>
                    <div class="mt-10">
                        <button 
                        (click)="signIn()"
                        [disabled]="signInForm.invalid"
                        [ngClass]="{
                            'opacity-50 cursor-not-allowed': signInForm.invalid,
                            'bg-orange-500 hover:bg-orange-600': statusForm == 0,
                            'bg-green-500': statusForm == 1
                        }"
                        class="text-gray-100 p-4 w-full rounded-full tracking-wide
                        font-semibold font-display focus:outline-none focus:shadow-outline shadow-lg">
                            {{ statusForm == 0? 'Login' : 'Success!' }}
                        </button>
                    </div>
                </form>
                <div class="mt-12 text-sm font-display font-semibold text-gray-700 text-center">
                    Don't have an account ? <a class="cursor-pointer text-orange-600 hover:text-orange-800">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden lg:flex items-center justify-center bg-orange-100 flex-1 h-screen">
        <img class="w-3/4" src="/assets/sign-in.png" alt="">
    </div>
</div>